<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Icon-->
    <link rel="icon" type="image/png" sizes="32x32" href="media/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/icon/favicon-16x16.png">

    <!--    Title-->
    <title>HomePlate-Home</title>

    <!--    bootstrap styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!--bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>

    <!--bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!--    Custom Styles-->
    <link rel="stylesheet" href="styles/styles.css">

    <!--    Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">


</head>
<body>
<!--make this a component-->

<nav class="navbar navbar-expand-lg " id="navModals" >
    <div class="container-fluid">
        <a class="navbar-brand text-decoration-none text-white fs-2" href="index.html">

            <img src="media/branding/Homeplate_Logo.png" alt="HomePlate Logo" height="48" width="48"
                 class="d-inline-block align-top img-fluid">
            HomePlate
        </a>
        <!-- Navbar toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <div class="input-group input-group-md w-50 mx-auto my-2 my-lg-0">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-lg" placeholder="Search for products">
                <button class="btn btn-outline-secondary text-white" type="button" id="inputGroup-sizing-lg"><i
                        class="bi bi-search"></i></button>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link active link-secondary fs-3 text-white" aria-current="page"
                       href="../HomePlateProject/cart.html">
                        <i class="bi bi-cart3"></i></a>
                </li>
                <li class="nav-item ms-2">
                    <button @click="navModal()" type="button"
                            class="btn nav-link active link-secondary fs-3 text-white"
                            data-bs-container="body"
                            data-bs-toggle="popover"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-trigger="focus"
                            data-bs-content="<div class='d-flex flex-column align-items-center'>

                             <a   class='btn background-main text-white btn-sm mb-2' data-bs-toggle='modal' data-bs-target='#wishListModal'>View Wishlist</a>
                              <a  class='btn background-main text-white btn-sm mb-2' data-bs-toggle='modal' data-bs-target='#pOrdersModal'>Previous Orders</a>

                            </div>">
                        <i class="bi bi-heart"></i>
                    </button>

                </li>

                <li class="nav-item ms-2">
                    <button @click="navModal()" type="button"
                            class="btn nav-link active link-secondary fs-3 text-white"
                            data-bs-container="body"
                            data-bs-toggle="popover"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-trigger="focus"
                            data-bs-content="<div class='d-flex flex-column align-items-center'>

                          <a  class='btn background-main text-white btn-sm mb-2 ' data-bs-toggle='modal' data-bs-target='#signUpModal'>Sign up</a>
                            <a  class='btn background-main text-white btn-sm mb-2' data-bs-toggle='modal' data-bs-target='#logInModal'>Log in</a>
                            <a  class='btn background-main text-white btn-sm mb-2'>Log out</a>

                          </div>">
                        <i class="bi bi-person-circle"></i>
                    </button>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!--make this a component-->

<div class="category-list text-white">
    <div>
        <a href="#" class="text-white text-decoration-none me-3">Bats</a>
        <a href="#" class="text-white text-decoration-none mx-3">Balls</a>
        <a href="#" class="text-white text-decoration-none mx-3">Gloves</a>
        <a href="#" class="text-white text-decoration-none mx-3">Apparel</a>
        <a href="#" class="text-white text-decoration-none mx-3">Protective Gear</a>
        <a href="#" class="text-white text-decoration-none mx-3">Batting Gloves</a>
        <a href="#" class="text-white text-decoration-none mx-3">Custom Jerseys</a>
        <a href="#" class="text-white text-decoration-none mx-3">Catching Gear</a>
    </div>
</div>
<!--make this a component-->

<div id="carousel" class="carousel  slide  e" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="media/carousel/stock1.jpeg" class="w-100 d-block img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="media/carousel/stock2.jpeg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="media/carousel/stock3.jpeg" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container mt-2">
    <h2>Featured Items</h2>
</div>
<!--make this a component-->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 container mt-4 mx-auto" id="featuredItems">
    <div class="col " v-for="(item,index) in products " :key="index">
        <div class="card border-accent h-100">
            <div class="ratio ratio-4x3"> <!-- enforce aspect ratio 4:3 for images -->
                <img :src="`media/product_imgs/${item.image}`" class="card-img-top img-fluid object-fit-cover" alt="Product Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="h5 mb-0"> ${{item.price}}</span>
                    <div>

                        <button class=" btn  fs-5 " @click="addProduct(item.id)"><i class="bi bi-cart-plus"></i></button>
                        <button class="  btn fs-5" @click="saveProductToSavedProducts(item.id)"><i class="bi bi-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--make this a component-->

<footer class="mt-5">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>HomePlate is your one-stop shop for all your baseball equipment and jersey needs!</p>

            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">Home</a></li>
                    <li><a href="#" class="text-decoration-none text-white">Services</a></li>
                    <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 ">
                <h5>Follow Us</h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2026 HomePlate Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!--Modals-->
<!--sign up modal-->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signUpModalLabel">Create Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="signUpEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="signUpEmail">
                        <div class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="signUpUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signUpUsername">
                    </div>
                    <div class="mb-3">
                        <label for="signUpPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signUpPassword">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn background-main">Join the team</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    Log in Modal-->
<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="logInModalLabel">Log In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="logInUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="logInUsername">

                    </div>
                    <div class="mb-3">
                        <label for="logInPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="logInpassword">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn background-main">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Wishlist Modal-->
<div class="modal fade" id="wishListModal" tabindex="-1" aria-labelledby="wishListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="wishListModalLabel">Your Wishlist</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted">
                    Your wishlist is currently empty. Start adding gear here!
                </p>

<!--                <div v-else>-->
<!--                    <div class="cart-item d-flex justify-content-between mb-4 background-main border-accent p-3"-->
<!--                         v-for="(item, index) in cart" :key="item.id">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="ratio ratio-4x3 me-3" style="width:120px">-->
<!--                                <img :src="`media/product_imgs/${item.image}`"-->
<!--                                     class="card-img-top img-fluid object-fit-cover" alt="Product Image">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <h5>{{ item.name }}</h5>-->
<!--                                <p class="text-muted">{{ item.description }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column justify-content-between">-->


<!--                            <button class="btn btn-sm btn-danger" @click="removeItem(item.id)">Remove</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

</div>
<!--Previous order modal-->
<div class="modal fade" id="pOrdersModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="myModalLabel">Previous Orders</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have not placed any orders yet. Start shopping to see your order history here!</p>
            </div>
        </div>

    </div>
</div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue-apps/app.js"></script>


</html>


